@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
}
.header-wrapper {
	height: 40px;
}
.ui.grid {
	margin-right: 0rem;
}
.ui.grid .filter-row {
	padding-top: 0rem;
}
.ui.fluid.container {
	margin: 0 !important;
}
.ui.navbar {
	color: #fff;
}
.ui.navbar.inverted.blue{
	background-color: #2185d0;
}

.ui.navbar .ui.menu {
	border: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	background-color: transparent;
}
.ui.navbar .ui.menu .item {
	color: #fff;
}
.ui.navbar .ui.menu .item:last-child{
	border-right: 1px solid rgba(0,0,0,0.05);
}
.ui.navbar .ui.menu .item:hover{
	color: #fff !important;
}
.ui.grid {
    margin-top: 0rem;
    margin-left: 0;
}
.pagination-container {
	position: relative;
	bottom: 10px;
    left:0;
}
/* #pagination {
    background-color: transparent;
    width:100%; 
    bottom: 10px;
    left:0;
} */
/* .ui.pagination.menu  {
    box-shadow: -2px 0px 30px 2px rgba(0,0,0,0.3);
} */

#filters {
	padding: 0rem;
	display: none;
}
#filters .mobile, .tablet{
	text-align: left;
	/* padding: 5px 14px; */
}
.filter {
	background-color: #f1f1f1;
	position: relative;
	padding: 0rem !important;
}
.filter-title {
	font-weight: bold;
}
.filter-category {
	margin-top: 5px;
}
.filter-category-title {
	color: #555;
	font-size: 0.9rem;
}
.clear-filters {
	color: #007bff;
	text-align: right;
	font-size: 0.9em;
}
.clear-filters:hover {
	text-decoration: underline;
	cursor: pointer;
}
.filter.show {
	display: block;
	position: absolute !important;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	min-height: 94vh !important;
	height: 94vh !important;
}
.filter-container {
	position: fixed;
	width: inherit;
	padding: 5px 1rem;
}
@media only screen and (max-width: 767px) {
	.filter.hide {
		display: none !important;
	}
	.filter-container {
		width: 100%;
	}
}


.ui.dropdown {
	min-width: 10em !important;
	width: 100%;
}

/* Utility classes */
.text-center {
	text-align: center;
}