<div class="ui fluid container">
    <div class="ui grid">
            <div class="row filter-row">
                    <!-- ng-class="{'mobile': homeVm.mobileFilters}" -->
                <div class="sixteen wide mobile four wide tablet three wide computer column filter" ng-class="homeVm.mobileFilters?'show': 'hide'">
                    <div class="filter-container">
                            <div class="clear-filters"><span ng-click="homeVm.clearFilters()">CLEAR ALL</span></div>
                        <div class="filter-title">SORT BY</div>
                        <div class="ui form">
                            <div class="grouped fields">
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" class="sortBy" name="sortProperty" ng-click="homeVm.sort('title_year', true)">
                                        <label>Latest First</label>
                                    </div>
                                </div>
                                <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" class="sortBy" name="sortProperty" ng-click="homeVm.sort('title_year', false)">
                                    <label>Oldest First</label>
                                </div>
                                </div>
                                <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" class="sortBy" name="sortProperty" ng-click="homeVm.sort('movie_title', false)">
                                    <label>Movie Name</label>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="filter-title">FILTER BY</div>
                        <div class="filter-category">
                            <div class="filter-category-title">Language</div>
                            <select class="ui dropdown" id="language" ng-model="homeVm.lang" ng-change="homeVm.update()">
                                <option value=""></option>
                                <option value="{{ ctry }}" ng-repeat="ctry in homeVm.languages">{{ ctry }}</option>
                            </select>
                        </div>
                        <div class="filter-category">
                            <div class="filter-category-title">Country</div>
                            <div>
                                <select class="ui dropdown" id="country" name="country" ng-model="homeVm.ctry" ng-change="homeVm.update()">
                                    <option value=""></option>
                                    <option value="{{ ctry }}" ng-repeat="ctry in homeVm.countries">{{ ctry }}</option>
                                </select>
                            </div>
                        </div>
                        <br/>
                        <div ng-if="homeVm.mobileFilters" class="text-center">
                            <button type="button" class="ui primary button" ng-click="homeVm.mobileFilters=false">Apply</button>
                        </div>
                    </div>
                    
                </div>
               <!--  <div class="filter mobile" >
                        <div>
                            <div class="clear-filters"><span ng-click="homeVm.clearFilters()">CLEAR ALL</span></div>
                            <div class="filter-title">SORT BY</div>
                            <div class="ui form">
                                <div class="grouped fields">
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" class="sortBy" name="sortProperty" ng-click="homeVm.sort('title_year', true)">
                                            <label>Latest First</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" class="sortBy" name="sortProperty" ng-click="homeVm.sort('title_year', false)">
                                        <label>Oldest First</label>
                                    </div>
                                    </div>
                                    <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" class="sortBy" name="sortProperty" ng-click="homeVm.sort('movie_title', false)">
                                        <label>Movie Name</label>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="filter-title">FILTER BY</div>
                            <div class="filter-category">
                                <div class="filter-category-title">Language</div>
                                <div>
                                    <div id="language" class="ui selection dropdown">
                                        <input type="hidden" name="language">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">Language</div>
                                        <div class="menu">
                                            <div class="item" data-value="'{{ lang }}'" ng-repeat="lang in homeVm.languages">{{ lang }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="filter-category">
                                <div class="filter-category-title">Country</div>
                                <div>
                                    <div id="country" class="ui selection dropdown">
                                        <input type="hidden" name="country">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">Country</div>
                                        <div class="menu">
                                            <div class="item" data-value="'{{ ctry }}'" ng-repeat="ctry in homeVm.countries">{{ ctry }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                <div class="sixteen wide mobile twelve wide tablet thirteen wide computer column" ng-show="!homeVm.mobileFilters">
                    <div class="ui grid">
                        <div class="row">
                            <div class="eight wide computer fourteen wide tablet fourteen wide mobile column">
                                <div class="ui icon fluid input">
                                    <input type="text" placeholder="Search movies by name..." ng-model="homeVm.movie" ng-keyup="homeVm.call()"/>
                                    <i class="search icon"></i>
                                </div>
                            </div>
                            <div class="two wide mobile only middle aligned column">
                                <i class="sliders horizontal large icon" ng-click="homeVm.mobileFilters=true"></i>
                                <!-- <button type="button" class="ui compact button" ng-click="homeVm.openFilters()"><i class="filter icon"></i></button> -->
                            </div>
                        </div>
                    </div>
                    <div class="ui grid">
                        <div class="sixteen wide column">
                            <div class="ui center aligned " ng-if="homeVm.moviesList.length>0 && homeVm.filteredList.length==0">No results found!</div>
                            <div class="ui active centered inline loader" ng-if="homeVm.moviesList.length==0"></div>
                            <div class="ui divided items">
                                <div class="item" ng-repeat="movie in ((homeVm.filteredList = (homeVm.moviesList | filter:{'movie_title':homeVm.movie} | filter:{'language':homeVm.lang} | filter:{'country':homeVm.ctry} | orderBy:homeVm.prop:homeVm.rev) | limitTo:homeVm.pageSize:(homeVm.currentPage-1)*homeVm.pageSize))">
                                    <div class="image">
                                        <img ng-src="{{ movie.image }}" ng-show="movie.image != null"  />
                                        <img src="/assets/img/error.png" ng-show="movie.image == null"/>
                                    </div>
                                    <div class="content">
                                        <a class="header" >{{ movie.movie_title }}</a> <span >({{movie.title_year}})</span>
                                        <div class="meta">
                                            <span class="cinema">{{ movie.content_rating }}</span> | <b>Language:</b> {{ movie.language }} | 
                                            <b>Country:</b> {{ movie.country }}
                                        </div>
                                        <div class="description">
                                            <p>{{ movie.plot }}</p> <span><a ng-href="{{ movie.movie_imdb_link }}">know more...</a></span>
                                        </div>
                                        <div class="extra">
                                            <div class="ui label" ng-repeat="genre in movie.genresList">{{ genre }}</div>
                                        </div>
                                        <div>
                                            <b>Directors:</b> <span ng-bind="movie.director_name"></span>
                                        </div>
                                        <div>
                                            <b>Stars:</b> {{ movie.actor_1_name }}, {{ movie.actor_2_name }}
                                        </div>
                                    </div>
                                </div>
                                <div class="pagination-container">
                                    <div id="pagination" class="ui fixed grid" ng-if="homeVm.filteredList.length>0">
                                        <div class="center aligned column">
                                            <div class="ui pagination menu">
                                                <a class="item" ng-click="homeVm.first()">First</a>
                                                <a class="item" ng-click="homeVm.prev()"><i class="chevron left icon"></i></a>
                                                <a class="item" ><span ng-bind="homeVm.currentPage"></span>/<span ng-bind="homeVm.getTotalPages()"></span></a>
                                                <a class="item" ng-click="homeVm.next()"><i class="chevron right icon"></i></a>
                                                <a class="item" ng-click="homeVm.last()">Last</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
